-# login.html.haml using partial

%h1 Login

%div{ :class => 'full-center' }
  = form_tag user_path, :method => :put do

    = label :user, :user_name, 'User Name'
    = text_field :user, :user_name

    = submit_tag 'Login'